<%= form_for(@fixture) do |f| %>
  <% if @fixture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fixture.errors.count, "error") %> prohibited this fixture from being saved:</h2>

      <ul>
      <% @fixture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matchdate %><br />
    <%= f.date_select :matchdate %>
  </div>
  <div class="field">
    <%= f.label :home_team %><br />
    <%= f.text_field :home_team %>
  </div>
  <div class="field">
    <%= f.label :away_team %><br />
    <%= f.text_field :away_team %>
  </div>
  <div class="field">
    <%= f.label :home_score %><br />
    <%= f.number_field :home_score %>
  </div>
  <div class="field">
    <%= f.label :away_score %><br />
    <%= f.number_field :away_score %>
  </div>
  <div class="field">
    <%= f.label :winner %><br />
    <%= f.text_field :winner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
