<%= provide(:title, 'Fixture List') %>
<h1>Fixture List</h1>

<%= will_paginate %>

<ul class="fixtures">
  <%= render @fixtures %>
</ul>

<%= will_paginate %>

<%= link_to 'New Fixture', new_fixture_path %>